.messages{
    background-color: $primary-color;
    color: $color-white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25rem;
    
    &-text {
        width: 100%;
        height: 65%;
        font-size: 3rem;
        text-align: center;

        & input{
            width: 50%;
            height: 3rem;
            padding: 1rem;
            margin-bottom: 1rem;
            font-size: 1.5rem;
            background-color: $primary-color;
            color: $color-white;
            border: 0.5px solid $color-white;
            border-radius: 5px;
        }
        & button {
            width: 10%;
            height: 3rem;
            font-size: 1.5rem;
            background-color: $primary-color;
            color: $color-white;
            border: 0.5px solid $color-white;
            border-radius: 5px;

            &:hover {
                background-color: #1a83ff;
            }
        }

        & ul li {
            list-style: none;
            margin-bottom: 1rem;
            width: 20rem;
            margin-left: 25%;
            font-size: 2rem;
            display: flex;
            align-self: flex-start;

            &:first-child {
                margin-top: 1.5rem;
            }
        }

        & ul li button {
            font-size: 1rem;
            height: 2.5rem;
            width: 5rem;
            margin-bottom: 1rem;
            margin-left: 2rem;
            background-color: $primary-color;
            color: $color-white;
            border: 0.5px light $color-white;
            border-radius: 5px;

            &:hover {
                background-color: #1a83ff;
            }
        }

    }
}

.msg-nav{
    width: 20%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
    border-left: 4px solid $color-white;
    border-radius: 15px;
    text-align: center;      
    background-color: $primary-color;  
    
    & input{
        background-color: $primary-color;
        color: $color-white;
        font-size: 3rem;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        padding: 3rem;
        border: transparent;
        border-bottom: 4px solid $color-white;
        border-radius: 15px;
        text-transform: uppercase;
        font-weight: bolder;

        &:hover {
            background-color: #1a83ff;
        }
    }
}

.chat{
    width: 100%;
    height: 40vh;
    display: flex;
    flex: 3;
    flex-direction: column;

    &-msg{
        width: 100%;
        display: flex;
        height: 100%;
        overflow-y: scroll;
        background-color: $color-white;
    
        & ul{
            width: 100%;
            display: flex;
            flex-direction: column;
            background-color: $color-white;
        }
        
        & ul li{
            padding: 1rem;
            font-size: 2.5rem;
            color: $color-white;
            margin: 1rem;
            position: relative;
            float: right;
            border-radius: 8px 8px 8px 8px;
            width: 80%;
            background-color: $primary-color;
            border: 3px solid $primary-color;

            &::after{
                width: 30px;
                height: 30px;
                content: "";
                position: absolute;
                right: 0;
                transform: translateX(.8rem) rotate(45deg);
                background-color: $primary-color;

                @include respond (tab-port){
                   &{
                    width: 15px;
                    height: 15px;
                   }
                }
            }
        }
    }

    &-buttons{
        display: flex;
        flex-direction: row;
        height: 3rem;
        margin: 0;
        padding: 0;
    
        & input:first-child{
            display: flex;
            flex: 5;
            padding: 1rem;
            font-size: 1.5rem;
        }
    
        & button{
            display: flex;
            flex: 1;
            border: none;
            border: solid black 1px;
            outline: none;
            font-size: 2rem;
            & span{
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                font-weight: bolder;
            }
        }
    }
}

@include respond (tab-land){
    .messages{
        width: 100%;
        flex-direction:column-reverse;
        margin-top: 5rem;
        justify-content: center;
        padding: 1rem;
    }

    .msg-nav{
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;
        border-left: 0;
        margin-bottom: 4rem;

        input{
            width: 100%;
            font-size: 2rem;
        }
    }
}

@include respond(phone){
    .msg-nav{

        input{
            font-size: 1.5rem;
        }
    }
}