.products{
        width: 100%;
        text-align: center;
        display: block;
        box-sizing: border-box;
        padding-bottom: 4vw;
        color: $primary-color;
        overflow-y: scroll;
        
    &__search{
        
        &--item{
            vertical-align: middle;
            margin: 0;
            height: 5vw;
            position: relative;
            width: 70%;
            margin:4vw 20vw 2vw 20vw;
    
            &-input{
                width: 70%;
                height: 3.5vw;
                font-size: 2rem;
                border:2px solid $primary-color;
                color:$color-grey;
                border-top-left-radius:10px;
                float:left;
                padding-left: 2vw;
            }
    
            &-input:focus{
                outline: none;
            }
                
            &-iconBox{
                height: 3.5vw;
                width: 8vw;
                font-size: 1.9vw;
                background-color:  $primary-color;
                cursor: pointer;
                border-top-right-radius:10px;
                border:1px solid $primary-color;
                position: absolute;
                float: left;
                margin-left: 20%;
            }
    
            &-icon{
                vertical-align: middle;
                color: $color-white;
            }
            
        }
    }

    &__list{
        display: inline-block;
        margin: 5vw 4vw 10vw 0;
        padding-bottom: 1vw;
        vertical-align: top;
        
        @media (max-width:1450px){
            margin-bottom: 0;
        }

        &--marca{
            text-align:center;
            padding: 2vw;
            width: 100%;
            box-shadow: 1px 2px 2px $color-black;
            transition: all .3s;
            border-radius: 5px;
            border: 3px solid $primary-color;
            width: 14vw;

            @media (max-width:1450px){
                width: 19vw;
            }

            @include respond(tab-port){
                width: 24vw;
            }

            @include respond(phone){
                width: 30vw;
            }

            &:hover{
                transform: scale(1.1);
                box-shadow: 2px 2px 10px 1px $color-black;
                border: 5px solid $primary-color;
            }
    
            &-logo{
                width: 7vw;
                @media (max-width:1450px){
                    width: 9vw;
                }
                @include respond(phone){
                    width: 13vw;
                }
            }
            &-title{
                display: block;
                font-size: 2rem;
                padding-top: .5vw;
                margin: 0;
            }
        }
    }

    &__results{
        width: 96%;
        margin: 2vw;
        border: 1px solid $primary-color;
        padding: 2vw .5vw;
        border-radius: 5px;

        &--filters{
            width: 15%;
            border-right: 1px solid $primary-color;

            &-title{
                font-size: 2rem;
                margin-bottom: 2vw;
            }

            &-form{
                label{
                    font-size: 1.5rem;
                }

                select{
                    font-size: 1rem;
                }

                input{
                    background-color: $color-white;
                    font-size: 1.7rem;
                    margin-top: 1.5rem;
                    padding: .3vw 2.5vw;
                    border: 1px solid $primary-color;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: all .2s;

                    &:hover{
                        transform: translateY(-.2vw);
                    }
                    &:focus{
                        transform: translateY(.1vw);

                    }
                }
            }
        }
    }
}

#products{
    display:none;
}







