@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif; }

html {
  width: 100%;
  overflow: hidden; }

html, body {
  font-size: 62.5%;
  /*@if $breakpoint == phone-small {
        @media only screen and (max-width: 21.87em) { @content };    //350px
    }*/
  /*@if $breakpoint == tab-small {
        @media only screen and (max-width: 43.75em) { @content };     //700px
    }*/
  /*@if $breakpoint == phone-small {
        @media only screen and (max-width: 21.87em) { @content };    //350px
    }*/
  /*@if $breakpoint == tab-small {
        @media only screen and (max-width: 43.75em) { @content };     //700px
    }*/
  /*@if $breakpoint == phone-small {
        @media only screen and (max-width: 21.87em) { @content };    //350px
    }*/
  /*@if $breakpoint == tab-small {
        @media only screen and (max-width: 43.75em) { @content };     //700px
    }*/
  /*@if $breakpoint == phone-small {
        @media only screen and (max-width: 21.87em) { @content };    //350px
    }*/
  /*@if $breakpoint == tab-small {
        @media only screen and (max-width: 43.75em) { @content };     //700px
    }*/ }
  @media only screen and (max-width: 75em) {
    html, body {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html, body {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html, body {
      font-size: 37.5%; } }
  @media only screen and (min-width: 112.5em) {
    html, body {
      font-size: 75%; } }

.home, .reports, .products, .team, .messages, .support, .profile {
  display: flex;
  height: 90vh; }

.nav {
  background-color: #060b26;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
  border-bottom: 1px solid #ffffff; }
  .nav__menu {
    background-color: #060b26;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -200vw;
    transition: 850ms;
    z-index: 10; }
    .nav__menu-bars {
      margin-left: 2rem;
      font-size: 3rem;
      background: none; }
    .nav__menu-active {
      left: 0;
      transition: 350ms; }
    .nav__menu-items {
      width: 100%; }
    .nav__menu-link {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 8px 0px 8px 16px;
      list-style-type: none;
      height: 60px; }
    .nav__menu-link a {
      text-decoration: none;
      color: #ffffff;
      font-size: 18px;
      width: 95%;
      height: 100%;
      display: flex;
      align-items: center;
      padding: 0 16px;
      border-radius: 4px; }
    .nav__menu-link a:hover {
      background-color: #1a83ff; }
    .nav__menu-toggle {
      background-color: #060b26;
      width: 100%;
      height: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-size: 3rem; }
    .nav__menu-title {
      margin-left: 16px; }

.home {
  width: 100%;
  display: block;
  text-align: center;
  background-color: #060b26;
  height: 100%; }
  .home__explication, .home__container {
    margin-top: 10rem; }
  .home__explication {
    text-align: left;
    display: inline-block;
    color: #ffffff; }
    .home__explication-title, .home__explication-icon, .home__explication-subtitle {
      display: inline-block;
      font-size: 3rem; }
    .home__explication-title {
      font-size: 15rem; }
    .home__explication-icon {
      margin-left: 1rem; }
    .home__explication-subtitle {
      margin-left: 1.9rem;
      letter-spacing: 1rem; }
  .home__container-button {
    display: inline-block;
    margin: 1rem;
    font-size: 6rem;
    padding: 1rem; }
    .home__container-button:first-child {
      background-color: #ffffff;
      color: #060b26;
      border-radius: 15px; }
    .home__container-button:last-child {
      border: solid #ffffff 2px;
      border-radius: 15px;
      color: #ffffff; }
    .home__container-button:hover {
      transform: translateY(-0.5rem); }

.support__container {
  width: 100%;
  border: 1px solid #000000;
  text-align: center;
  background-color: #060b26; }
  .support__container-title {
    color: #ffffff;
    font-size: 9rem;
    margin-top: 4rem; }

.support__items {
  margin-top: 10rem; }
  .support__items--link {
    border: solid #ffffff 3px;
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
    border-radius: 15px;
    color: #ffffff;
    background-color: #060b26;
    height: 24rem;
    width: 17rem;
    vertical-align: middle; }
    .support__items--link:hover {
      transform: translateY(-3rem); }
    .support__items--link-icon {
      font-size: 8rem;
      margin-top: 1rem; }
    .support__items--link-text {
      font-size: 2rem;
      margin-top: 3rem; }

.products {
  width: 100%;
  text-align: center;
  display: block;
  box-sizing: border-box;
  padding-bottom: 4vw;
  color: #060b26;
  overflow-y: scroll; }
  .products__search--item {
    vertical-align: middle;
    margin: 0;
    height: 5vw;
    position: relative;
    width: 70%;
    margin: 4vw 20vw 2vw 20vw; }
    .products__search--item-input {
      width: 70%;
      height: 3.5vw;
      font-size: 2rem;
      border: 2px solid #060b26;
      color: #808080;
      border-top-left-radius: 10px;
      float: left;
      padding-left: 2vw; }
    .products__search--item-input:focus {
      outline: none; }
    .products__search--item-iconBox {
      height: 3.5vw;
      width: 8vw;
      font-size: 1.9vw;
      background-color: #060b26;
      cursor: pointer;
      border-top-right-radius: 10px;
      border: 1px solid #060b26;
      position: absolute;
      float: left;
      margin-left: 20%; }
    .products__search--item-icon {
      vertical-align: middle;
      color: #ffffff; }
  .products__list {
    display: inline-block;
    margin: 5vw 4vw 10vw 0;
    padding-bottom: 1vw;
    vertical-align: top; }
    @media (max-width: 1450px) {
      .products__list {
        margin-bottom: 0; } }
    .products__list--marca {
      text-align: center;
      padding: 2vw;
      width: 100%;
      box-shadow: 1px 2px 2px #000000;
      transition: all .3s;
      border-radius: 5px;
      border: 3px solid #060b26;
      width: 14vw;
      /*@if $breakpoint == phone-small {
        @media only screen and (max-width: 21.87em) { @content };    //350px
    }*/
      /*@if $breakpoint == tab-small {
        @media only screen and (max-width: 43.75em) { @content };     //700px
    }*/
      /*@if $breakpoint == phone-small {
        @media only screen and (max-width: 21.87em) { @content };    //350px
    }*/
      /*@if $breakpoint == tab-small {
        @media only screen and (max-width: 43.75em) { @content };     //700px
    }*/ }
      @media (max-width: 1450px) {
        .products__list--marca {
          width: 19vw; } }
      @media only screen and (max-width: 56.25em) {
        .products__list--marca {
          width: 24vw; } }
      @media only screen and (max-width: 37.5em) {
        .products__list--marca {
          width: 30vw; } }
      .products__list--marca:hover {
        transform: scale(1.1);
        box-shadow: 2px 2px 10px 1px #000000;
        border: 5px solid #060b26; }
      .products__list--marca-logo {
        width: 7vw;
        /*@if $breakpoint == phone-small {
        @media only screen and (max-width: 21.87em) { @content };    //350px
    }*/
        /*@if $breakpoint == tab-small {
        @media only screen and (max-width: 43.75em) { @content };     //700px
    }*/ }
        @media (max-width: 1450px) {
          .products__list--marca-logo {
            width: 9vw; } }
        @media only screen and (max-width: 37.5em) {
          .products__list--marca-logo {
            width: 13vw; } }
      .products__list--marca-title {
        display: block;
        font-size: 2rem;
        padding-top: .5vw;
        margin: 0; }
  .products__results {
    width: 96%;
    margin: 2vw;
    border: 1px solid #060b26;
    padding: 2vw .5vw;
    border-radius: 5px; }
    .products__results--filters {
      width: 15%;
      border-right: 1px solid #060b26; }
      .products__results--filters-title {
        font-size: 2rem;
        margin-bottom: 2vw; }
      .products__results--filters-form label {
        font-size: 1.5rem; }
      .products__results--filters-form select {
        font-size: 1rem; }
      .products__results--filters-form input {
        background-color: #ffffff;
        font-size: 1.7rem;
        margin-top: 1.5rem;
        padding: .3vw 2.5vw;
        border: 1px solid #060b26;
        border-radius: 4px;
        cursor: pointer;
        transition: all .2s; }
        .products__results--filters-form input:hover {
          transform: translateY(-0.2vw); }
        .products__results--filters-form input:focus {
          transform: translateY(0.1vw); }

#products {
  display: none; }

.profile {
  text-align: center;
  display: block; }
  .profile__user, .profile__help {
    margin-top: 5rem; }
  .profile__user {
    width: 80%;
    display: inline-block; }
    .profile__user--img, .profile__user--data {
      display: inline-block; }
    .profile__user--img {
      font-size: 18rem;
      border: solid 4px #060b26;
      padding: 1rem;
      border-radius: 15%; }
    .profile__user--data {
      text-align: left;
      font-size: 3rem; }
      .profile__user--data-value {
        padding: 1rem;
        margin: 1rem; }
  .profile__help {
    border: solid 4px #060b26;
    padding: 1rem;
    border-radius: 15px;
    display: inline-block; }
    .profile__help-icons {
      display: inline-block;
      font-size: 7rem;
      padding: 2rem; }
    .profile__help-icons:hover {
      background-color: #060b26;
      color: #ffffff;
      border-radius: 15%; }

.team__container {
  width: 100%;
  border-bottom: 1px solid #060b26;
  font-size: 4rem;
  text-align: left;
  padding: 5vw;
  height: 30vw;
  /*@if $breakpoint == phone-small {
        @media only screen and (max-width: 21.87em) { @content };    //350px
    }*/
  /*@if $breakpoint == tab-small {
        @media only screen and (max-width: 43.75em) { @content };     //700px
    }*/
  /*@if $breakpoint == phone-small {
        @media only screen and (max-width: 21.87em) { @content };    //350px
    }*/
  /*@if $breakpoint == tab-small {
        @media only screen and (max-width: 43.75em) { @content };     //700px
    }*/ }
  @media only screen and (max-width: 75em) {
    .team__container {
      height: 40vw; } }
  @media only screen and (max-width: 37.5em) {
    .team__container {
      height: 50vw; } }
  .team__container--data ul li {
    list-style: none; }
  .team__container--icons {
    color: #060b26;
    padding: 1rem; }
    .team__container--icons-1:hover {
      color: #1a83ff; }
    .team__container--icons-2:hover {
      color: #ff0000; }
